@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Courier Prime", monospace;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 2vh;
}
.contact{
    margin-top:1vh;
    margin-bottom: 1vh;
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.8s ease;
    article{
        margin: 20px;
        h2{
            text-align: center;
        }
        form{
            display:flex;
            flex-direction: column;
        }
        input{
            color: black;
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px;
            background-color: white;
        }
        h3{
            padding: 10px 0 0  ;
        }
        div{
            width: 50%;
            display:flex;
            align-items: center;
            justify-content: space-around;
            .motivo{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 10px 0;
            }
            
        }
        textarea{
            background-color: white;
            color: black;
            height: 100px;
            padding: 5px;
            border-radius: 10px;
        }
        button{
            margin: 10px auto 0;
            background-color: #4d4d4d;
            width:50%;
            border: 1px solid white;
            padding: 15px 30px;
            line-height: 1.4;
            font-size: 14px;
            font-weight: 500;
            border-radius: 30px;
            text-transform: uppercase;
        }
    }
}
.contact:hover{
    background-color: rgba(22, 21, 21, 0.315);
}